<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
</head>
<body>


{% if result == "Success" %}
<h3>Добро пожаловать!</h3>
Вы успешно вошли в свой аккаунт!
{% elif result == "Error" %}
<h3>Не получилось войти</h3>
Попробуйте снова войти - <a href="https://whoid.ru/auth/login?token={{ token }}&link=http://127.0.0.1:5000/log">Войти с
    WhoID</a>
{% else %}
<a href="https://whoid.ru/auth/login?token={{ token }}&link=http://127.0.0.1:5000/log">Войти с WhoID</a>
{% endif %}

</body>
</html>